.logo{
	color:purple;
	text-align:center;
	font-family: 'Kaushan Script',cursive;
	font-size:400%;
	border:5px solid purple;
	padding: 5px;
	width: 220px;
}
.contact{
	color:purple;
	text-align:center;
	font-family: 'Kaushan Script',cursive;
	font-size:400%;
	border:5px solid purple;
	padding: 5px;
	width: 500px;
}
