.logo{
	color:purple;
	text-align:center;
	font-family: 'Kaushan Script',cursive;
	font-size:400%;
	border:5px solid purple;
	padding: 5px;
	width: 220px;
}
.contact{
	color:purple;
	text-align:center;
	font-family: 'Kaushan Script',cursive;
	font-size:400%;
	border:5px solid purple;
	padding: 5px;
	width: 800px;
}
input {
	background-color:green;
}
.logo:hover{
	color:orange;
	border:5px solid orange;
}
@media (min-width: 1000px){
	body{
		background-color: orange;
	}
}
@media (max-width: 999px){
	body{
		background-color: white;
	}
}

